@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/OpenSans-Regular.woff2') format('woff2');
    font-display: swap;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.page-container {
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

iframe {
    width: 100%;
    min-height: 600px;
    scrolling: auto;
    frameborder: no;
    border: 1px solid #ccc;
}

.link-container {
    color: #8080ff;
}

.link-container a {
    color: #8080FFFF;
    text-decoration: underline;
}


@media (min-width: 768px) {
    .iframe-container {
        display: flex;
        gap: 16px;
    }

    .iframe-container iframe {
        flex: 1;
    }
}

@media (max-width: 767px) {
    .iframe-container {
        display: block;
    }

    .iframe-container iframe {
        width: 100%;
    }
}
